

<div class="search">
<%= form_tag("/parse", method: "post") do %>
  <%= label_tag(:url, "Douban Topic URL:") %>
  <br>
  <%= text_field_tag(:url) %>
  <%= button_tag("Parse", class: "button" )%>
<% end %>
</div>